 hr {
  background: none;
  height: 1px;
  border: 1px solid #e8e8e8;
}

h2 {
  font-size: 42px;
}
#logo1 {
	float: left;
	 margin-top: 20px;
}
#logo2 {
	float: right;
	 margin-top: 0px;
}
#header {
	height:100px;
	width:auto;
    margin-top:-30px;
	background-color:#266d99;
	
	left: 10;
    position: fixed;
    right: 0;
    text-align: center;
    z-index: 10;
	
}


div#header {
    background-color: #266e99;
    color: #CC3300;
    height: 10px;
    left: 0;
    position: fixed;
    right: 0;
    text-align: center;
    text-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
    top: 18;
    z-index: 10;
	
	/*box-shadow: 0 0 8px #8d9d9e; */
}

/* Search */

#search {
	float: right;
	width: 200px;
	padding: 40px 20px 4px 0;
	background: url(images/img05.gif) no-repeat left bottom;
}

#search fieldset {
	border: none;
}

#search legend {
	display: none;
}

#s {
	float: left;
	width: 155px;
	margin: 0 0 0 10px;
	background: none;
	border: none;
	font: bold 13px Arial, Helvetica, sans-serif;
	color: #474848;
}

#x {
	display: none;
}


#gallery
{
	margin-top:30px;
	width: 980px;
	height:274px;
	padding:0px;
	
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 0px;
	
	left: 0;
    
    right: 0;
    text-align: center;
    z-index: 10;
}

#gallery img.output
{
	width: 404px;
	height: 175px;
	margin-bottom: 1px;
	margin-left: 700px;
	border: solid 3px #00A4A4;
	margin-top:-70px;
	
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	
	-webkit-transition: background-color 0.3s linear;
	-moz-transition: background-color 0.3s linear;
	-o-transition: background-color 0.3s linear;
}



body.index h5 {
  font-size: 18px;
}

body.index div.box-container {
  margin-top: 150px;
}

body.index a.box div.product h1 {
  font-size: 40px;
}

body.index a.box div.product.bc img.arrow { float: left; margin-left: 140px; }
body.index a.box div.product.hr img.arrow { float: left; margin-left: 340px; }
body.index a.box div.product.bp img.arrow { float: left; margin-left: 395px; }
body.index a.box div.product.cf img.arrow { float: left; margin-left: 600px; }

body.index a.box div.product.bc { z-index: 2; margin-left: -45px; }
body.index a.box div.product.hr { z-index: 4; margin-left: -250px; }
body.index a.box div.product.bp { z-index: 6; margin-left: -455px; }
body.index a.box div.product.cf { z-index: 8; margin-left: -655px; }

body.index div.customers div.meet {
  margin: 65px 0 0 -490px;
}

body.index div.rework div.read {
  margin: 75px 0 0 355px;
  width: 140px;
}

body.index div.rework div.read img.arrow {
  top: 50px;
}

body.index div.rework div.read p {
  margin-top: -10px;
}

body.contact div.profile div.help img.arrow {
  margin-left: -160px;
}

body {
  background: #eee;
	padding: 30px;
	font-family: "ProximaNova", Helvetica, Arial, "Lucida Grande", Verdana, sans-serif;
	font-size: 14px;
	line-height: 1.5em;
	color: #000;
	
	
}

a:link, a:visited {
	color: #369;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}


h1 {
  font-weight: 500;
  font-style: normal;
  font-size: 58px;
  clear: both;
  line-height: 1.0em;
  margin-bottom: 20px;
  letter-spacing: -2px;
	color: #232323;
}

div.container {
	width: 340px;
	margin: auto;
	
}

section {
	padding: 30px;
	background-color: #fff;
	box-shadow: 0 0 6px rgba(0,0,0,0.3);
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

section.letter article {
	clear: both;
	padding-top: 10px;
}

section.help {
	width: 245px;
	height: 155px;
	margin: 30px 0;
	padding: 20px 30px;
	float: left;
	font-size: 14px;
	line-height: 1.4em;
	background: url('images/retired/bkgd-help.png') 230px 32px no-repeat #fff;
}

section.help.twitter {
	margin-left: 30px;
	background: url('images/retired/bkgd-twitter.png') 200px 32px no-repeat #fff;
}

section.help.twitter h1 {
	padding-right: 70px;
}

section.basecamp {
	margin: 30px 0;
	padding: 15px 30px;
	background: url('images/retired/bkgd-textdocs.png') 460px 32px no-repeat #fff;
}

section.basecamp p {
	font-size: 14px;
	line-height: 1.4em;
	width: 420px;
}

body.tadalist section.basecamp {
	background: url('images/retired/bkgd-todos.png') 460px 32px no-repeat #fff;
}
/*----------------------------------------------------
GLOBAL

Main font is Minion Pro set by Typekit.
----------------------------------------------------*/

/* Browser */

body {
  padding: 30px;
  text-align: center;
  
  
  
  color: #222;
  
   left: 0;
   
    right: 0;
    text-align: center;
    top: 28px;
    z-index: 10;
	background-image:url(/static/webapp/images/background.png) ;
	
	
}
wrapper {
	width:1100px;
	height:auto;

	
	}

body, h1, h2, h3, h4, h5, p {
  font-family: "minion-pro-1","minion-pro-2", "Times New Roman", Georgia, serif;
margin-top: -10px
  }

img {
  border: 0;
  margin-top:0px;
  padding-left: 0px;
}

a {
  color: #336699;
}

a:hover {
  color: #6699cc;
}

a:active, a:focus {
  outline: 0;
}

hr {
  clear: both;
  border: 0;
  background: white url('/static/webapp/images/img-hr.png') no-repeat scroll 50% 50%;
  color: transparent;
  height: 12px;
}

div.container, div.footer {
 
  width: 1100px;
  padding: 0;
  
  box-shadow: 0 0 28px #8d9d9e;
  height:100%;
  margin-top:-50px;
  

}

h1 {
  font-weight: 500;
  font-style: normal;
  font-size: 58px;
  clear: both;
  line-height: 1.0em;
  margin-bottom: 40px;
  letter-spacing: -2px;
	color: #232323;
	text-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
}

h2 {
  color: #232323;
  margin: 30px 0;
  font-size: 48px;
  font-weight: 500;
  font-style: normal;
  line-height: 1.1em;
  letter-spacing: -1px;
}

h6 {
  margin: 5px 0 10px;
  font-size: 14px;
  color: #cc0000;
  
    -webkit-box-shadow: 0 0 10px #333;
  -moz-box-shadow: 0 0 10px #333;
  box-shadow: 0 0 10px #333;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e8e8e8));
  background: -moz-linear-gradient(top,  #fff,  #e8e8e8);
}

/*----------------------------------------------------
NAV
----------------------------------------------------*/

div.nav {
  text-align: left;
  padding: 40px;
  margin: 0px -160 50px 0;
  margin-top: -140px;
  padding-left: 20px;
  margin-left: -70px;
    
}


div.nav ul {
  margin: 0;
  padding: 0;
}

div.nav ul li {
  list-style-type: none;
  display: inline;
  margin: 0;
  padding: 0 10px 0;
  font-size: 12px;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

div.nav ul li.date {
	float: left;
	padding-top: 4px;
	color: #999;
}

body.index div.nav ul li.home {
  display: none;
}

body.index div.nav ul li.logo {
  display: none;
  padding: 0;
}

div.nav ul li img.logo {
  margin-top: -5px;
}

div.nav ul li a {
  text-decoration: none;
}

div.nav ul li a.signin {
color: #18afe0;
}

div.nav ul li a.signin:hover {
  color: #336699;
}

/*----------------------------------------------------
INDEX
----------------------------------------------------*/

/* PRODUCTS */

body.index h5 {
  font-size: 20px;
  font-weight: 500;
  margin: 10px 0;
}

body.index div.box-container {
  padding-left: 5px;
  overflow: hidden;
  margin-left:120px;
  width:980px;
  margin-top:50px;
  margin-top: 150px;
  
}

body.index div.box-container div.headline {
  width: 825px;
  margin-left: 15px;
}

body.index a.box {
width: 130px;
  margin: 15px 10px 5px 0;
  float: left;
  height:170px;
  

}

body.index a.box.hover {
width: 130px;
  margin: 15px 10px 5px 0;
  float: left;
  height:170px;
  
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-box-shadow: 0 0 0px #000;
  -moz-box-shadow: 0 0 0px #000;
  box-shadow: 0 0 8px #000;
  padding: 20px 10px 10px;
  text-decoration: none;

  
  
  background: -moz-linear-gradient(center top , #FFFFFF, #EFEFEF) repeat scroll 0 0 transparent;
    border: 3px solid #b0b3b3;
    
    box-shadow: 0 0 4px #666;
	font-family: Georgia,"Times New Roman",Times,serif;
	 
    font-size: 12px;
    font-weight: bold;
	outline: medium none;
    text-align: center;
    text-decoration: none;
}

body.index a.box.end,
body.index div.column.end {
  margin-right: 0;
}

body.index a.box h3 {
  font-size: 16px;
  margin: 3px 0 0 10px;
  color: #369;
  font-family: Georgia,"Times New Roman",Times,serif; 
  font-weight: bold;
  
}

body.index a.box h3 span {
  text-decoration: underline;
}

body.index a.box h3 sup {
  color: #999;
  font-weight: normal;
  font-size: 11px;
}

body.index a.box h4 {
  margin: 5px 0 10px;
  font-size: 14px;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  color: #cc0000;
}

body.index a.box p {
  color: #222;
  font-size: 14px;
  line-height: 1.4em;
  margin-top: 5px;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  
  
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-box-shadow: 0 0 0px #e5e7e7;
  -moz-box-shadow: 0 0 0px #e5e7e7;
  box-shadow: 0 0 0px #e5e7e7;
  padding: 0px 0px 0px;
  text-decoration: none;

  
  
  background: -moz-linear-gradient(center top , #e3f5fc, #EFEFEF, #d0f0fd) repeat scroll 0 0 transparent;
    border: 2px solid #c7c9c9;
    
    box-shadow: 0 0 4px #9caeaf;
	font-family: Georgia,"Times New Roman",Times,serif;  
}

body.index a.box p.action {
 display: none;
  border: 2px solid #b9b9b9;
  border-radius: 5px;
  padding: 7px 0;
  font-weight: bold;
  background: -moz-linear-gradient(center top , #FFFFFF, #EFEFEF) repeat scroll 0 0 transparent;
  color:#336699;
}

body.index a.box.hover p.blurb { display: none; }
body.index a.box.hover p.action { display: block; }

body.index a.box div.product {
  display: none;
  position: absolute;
  margin: -100px 0 0 -15px;
 
  width: auto;
  height: 40px;
 
 
  
   
}

body.index a.box div.product h1 {
  color: #000;
  margin: 0px 0 -1px 10;
  font-size: 32px;
	letter-spacing: -1px;
	
	font-family: Georgia,"Times New Roman",Times,serif;
	text-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
	
}

body.index a.box div.product h1 span {
  color: #276e98;
  text-decoration: underline;
  font-family: Georgia,"Times New Roman",Times,serif; 
  
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
}

body.index a.box div.product p { font-size: 15px; }
body.index a.box div.product img.arrow { margin-top: 0px; }

body.index a.box div.product.bc img.arrow { float: left; margin-left: 140px; }
body.index a.box div.product.hr img.arrow { float: left; margin-left: 340px; }
body.index a.box div.product.bp img.arrow { float: left; margin-left: 395px; }
body.index a.box div.product.cf img.arrow { float: left; margin-left: 600px; }

body.index a.box div.product.bc { z-index: 2; margin-left: -30px; }
body.index a.box div.product.hr { z-index: 4; margin-left: -230px; }
body.index a.box div.product.bp { z-index: 6; margin-left: -430px; }
body.index a.box div.product.cf { z-index: 8; margin-left: -630px; }

body.index a.box.hover div.product { display: block; margin-top:-92px; }



/*------------------------------------------------------
FOOTER
------------------------------------------------------*/
#footer {
	
    background: none repeat scroll 0 0 ;
    bottom: 0;
    color: #999999;
    height: 39px;
    left: 0;
    position: fixed;
    right: 0;
    text-align: center;
    z-index: 10;

}

