.bighead
{
    font-size: x-large;
}

.smallhead
{
    font-size: large;
}

#pickstartdate
{
    text-align: right;
}

.lagging
{
    background: #ff8989;
    font-weight: bolder;
}

.risky
{
    background: yellow;
    font-weight: bolder;
}

.death
{
    background: black;
    font-weight: bolder;
}

.maptd
{
    text-align:center;
}

.tmp table
{
}

.hindics, .goals, .thereps
{
    width: 98%;
}
