html
{ height: 100%;}

#header_image {
	background-color: #266e99;
    color: #CC3300;
    height: 100px;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    text-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
    top: 20;
    z-index: 10;
	margin-top:-20px;
	box-shadow: 0 0 8px #8d9d9e;
}

*
{ margin: 0;
  padding: 0;}

body
{ font: normal .80em 'trebuchet ms', arial, sans-serif;
  background: #FFFFFF;
  color: #3d3d3d;}

p
{ padding: 0 0 20px 0;
  line-height: 1.7em;}

img
{ border: 0;}

h1, h2, h3, h4, h5, h6 
{ font: normal 175% 'century gothic', arial, sans-serif;
  color: #43423F;
  margin: 0 0 15px 0;
  padding: 15px 0 5px 0;}

h2
{ font: normal 175% 'century gothic', arial, sans-serif;
  color: #fff;}

h4, h5, h6
{ margin: 0;
  padding: 0 0 5px 0;
  font: normal 120% arial, sans-serif;
  color: #365f91;}

h5, h6
{ font: italic 95% arial, sans-serif;
  padding: 0 0 15px 0;
  color: #000;}

h6
{ color: #362C20;}

a, a:hover
{ outline: none;
  color: #365f91;}

a:hover
{  outline: none;
  text-decoration: none;
  color: #0404e1;}

.left
{ float: left;
  width: auto;
  margin-right: 10px;}

.right
{ float: right; 
  width: auto;
  margin-left: 10px;}

.center
{ display: block;
  text-align: center;
  margin: 20px auto;}

blockquote
{ margin: 20px 0; 
  padding: 10px 20px 0 20px;
  border: 1px solid #E5E5DB;
  background: #FFF;}

ul
{ margin: 2px 0 22px 17px;}

ul li
{ list-style-type: circle;
  margin: 0 0 6px 0; 
  padding: 0 0 4px 5px;}

ol
{ margin: 8px 0 22px 20px;}

ol li
{ margin: 0 0 11px 0;}

#main, #new-header, #menubar, #site_content
{ margin-left: auto; 
  margin-right: auto;}


#header
{ background: #ffffff;
  background:#ffffff url(/static/webapp/images_new/nav-bg.png) repeat-x;
  height: 52px;
  margin-top: 72px;
}

#new-header
{ width: 1200px;
  overflow: hidden;
  margin: 0 auto;
  padding: 10px 24px 10px 0px;
  background: #FFFFFF;}

.logonew
{ 
  text-align: left;
  width: 930px;
  margin-left: 20px;
  float: left;
  
}


#logonew2{ 
  float: right;
  width: 190px;
  padding-top: 0px;
  margin-left: 0px;
  margin-top: 0px;}



#sign h3, #sign a
{
  font: Georgia 100%, "Times New Roman", Times, serif;
  color: #000000;
}
#testline
{
   position: relative;
   height: 7px;
   background:#ecebdc;
}

/** ecebdc*d1dce4 */
#logo h1, #logo h2
{ font: normal 300% 'century gothic', arial, sans-serif; 
  border-bottom: 0;
  text-transform: none;
  margin: 0;}

#logo_text h1, #logo_text h1 a, #logo_text h1 a:hover 
{ padding: 22px 0 0 0;
  color: #1fb7f6;
  letter-spacing: 0.1em;
  text-decoration: none;}

#logo_text h1 a .logo_colour
{ color: #FAF700;}

#logo_text h2
{ font-size: 100%;
  padding: 4px 0 0 0;
  color: #DDD;}

#menubar
{ width: 877px;
  height: 45px;
  padding: 0;
  background: #ffffff ;
  background:#ffffff url(/static/webapp/images_new/nav-bg.png) repeat-x;} 

ul#menu, ul#menu li
{ float: left;
  margin: 0; 
  padding: 0;}

ul#menu li
{ list-style: none;
  background: #ecebdc;
 
 -webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	border-radius: 9px;
	
	-webkit-transition: background-color 0.5s linear;
	-moz-transition: background-color 0.5s linear;
	-o-transition: background-color 0.5s linear;}

ul#menu li a
{ letter-spacing: 0.1em;
  font: Georgia 100%, "Times New Roman", Times, serif;
  /*font: normal 100% 'lucida sans unicode', arial, sans-serif;*/
  display: block; 
  float: left; 
  height: 37px;
  padding: 9px 26px 5px 16px;
  text-align: center;
  color: #9e9e9f;
  text-transform: uppercase;
  text-decoration: none;
  background: transparent;} 

ul#menu ul.menu li div ul
{
  padding-bottom: 8px;
  
  -webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	
	-webkit-transition: background-color 0.3s linear;
	-moz-transition: background-color 0.3s linear;
	-o-transition: background-color 0.3s linear;
}

ul#menu li a:hover, ul#menu li.selected a, ul#menu li.selected a:hover
{ color: #000000;
  background-color: #ecebdc;
  }

/*006600* 1293EE*/
#site_content
{ width: 80em;
  overflow: hidden;
  margin: 0 auto;
  padding: -3px 24px 20px 0px;
  background: #FFF url(content.png) repeat-y;} 

.sidebar
{ float: right;
  width: 190px;
  padding: 0 15px 20px 15px;}

.sidebar ul
{ width: 178px; 
  padding: 4px 0 0 0; 
  margin: 4px 0 30px 0;}

.sidebar li
{ list-style: none; 
  padding: 0 0 7px 0; }

.sidebar li a, .sidebar li a:hover
{ padding: 0 0 0 40px;
  display: block;
  background: transparent url(link.png) no-repeat left center;} 

.sidebar li a.selected
{ color: #444;
  text-decoration: none;} 
 

#community
{ background-image: url(block_c.png);}

#community_header
{ background-image: url(com_header.png);}


#content
{ text-align: left;
  width: 595px;
  padding: 0;
 }

#content ul
{ margin: 2px 0 22px 0px;}

#content ul li
{ list-style-type: none;
  background: url(bullet.png) no-repeat;
  margin: 0 0 6px 0; 
  padding: 0 0 4px 25px;
  line-height: 1.5em;}
 
#sol_challenge
{
  text-align: left;
  width: 595px;
  padding: 0;
} 


#comment_challenge
{
  text-align: left;
  width: 595px;
  padding: 0;
  background-image: url(block_c.png);

}

#home_solution
{ text-align: left;
  width: 595px;
  padding: 0;}
  
#home_solution ul
{ margin: 2px 0 22px 0px;}

#home_solution ul li
{ list-style-type: none;
  background: url(bullet.png) no-repeat;
  margin: 0 0 6px 0; 
  padding: 0 0 4px 25px;
  line-height: 1.5em;}
 
#sol_post
{float: left;
 width: 350px;
 text-align: right}

#view_post
{float:right;
 }

#content .poster
{ float: left;
  width: 120px;
  height: 160px;
  padding: 0;}

#sol_poster
{ float: left;
  width: 130px;
  padding: 0;}

#post_solution
{ float: right;
  width: 450px;
  padding: 0;
  text-align: left;}

#footer_comment
{ float: left;
  width: 578px;
  padding: 0;
  text-align: left;}


#content_footer
{ width: 878px;
  font: normal 100% 'lucida sans unicode', arial, sans-serif;
  padding: 0;
  text-align: left; }


#footer
{ width: 100%;
  font: normal 100% 'lucida sans unicode', arial, sans-serif;
  padding: 14px 0 0px 0;
  text-align: center; 
  /*background: #29425E url(footer.png) repeat-x;*/
  background: #c2c2c2;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  height: 67px;}

#footer a
{ color: #0368af;
  text-decoration: none;}

#footer a:hover
{ color: #0368af;
  text-decoration: underline;}

.search
{ color: #5D5D5D; 
  border: 1px solid #BBB; 
  width: 134px; 
  padding: 4px; 
  font: 100% arial, sans-serif;}

#colours
{ height: 0px;
  text-align: right;
  padding: 66px 16px 0px 300px;}
  
.form_settings
{ margin: 15px 0 0 0;}

.form_settings p
{ padding: 0 0 4px 0;}

.form_settings span
{ float: left; 
  width: 200px; 
  text-align: right;}
  
  
.form_error
{ margin: 15px 0 0 0;}

.form_error p
{ padding: 0 0 4px 0;}

.form_error span
{ float: left; 
  width: 500px; 
  text-align: left;}

  
.form_settings input, .form_settings textarea
{ padding: 5px; 
  width: 299px; 
  font: 100% arial; 
  border: 1px solid #E5E5DB; 
  background: #FFF; 
  color: #47433F;}
  
.form_settings .submit
{ font: 100% arial; 
  border: 1px solid; 
  width: 99px; 
  margin: 0 0 0 212px; 
  height: 33px;
  padding: 2px 0 3px 0;
  cursor: pointer; 
  background: #7A7A7A;
  color: #FFF;}

.form_settings textarea, .form_settings select
{ font: 100% arial; 
  width: 299px;}

.form_settings select
{ width: 310px;}

.form_settings .checkbox
{ margin: 4px 0; 
  padding: 0; 
  width: 14px;
  border: 0;
  background: none;}

.form_settings h3
{font: normal 120% 'century gothic', arial, sans-serif;}

.form_settings .delete_submit
{ font: 100% arial; 
  /*border: 1px solid; */
  width: 99px;  
  height: 33px;
  padding: 0;
  cursor: pointer; 
  background: #7A7A7A;
  color: #FFF;}

.separator
{ width: 100%;
  height: 0;
  border-top: 1px solid #D9D5CF;
  border-bottom: 1px solid #FFF;
  margin: 0 0 20px 0;}
  
table
{ margin: 10px 0 30px 0;}

table tr th, table tr td
{ /*background: #3B3B3B;
  background: #74D7E3;*/
  color: #333;
  padding: 7px 4px;
  text-align: left;}
  
table tr td
{ background: #F0EFE2;
  color: #47433F;
  border-top: 1px solid #FFF;}

.form_sign
{ margin: 15px 0 0 0;}

.form_sign p
{ padding: 0 0 4px 0;}

.form_sign span
{ float: left; 
  width: 120px; 
  text-align: right;}
  
.form_sign input
{ padding: 5px; 
  width: 200px; 
  font: 100% arial; 
  border: 1px solid #E5E5DB;
  background: #FFF; 
  color: #47433F;}
  
.form_sign .submit
{ font: 100% arial; 
  border: 1px solid; 
  width: 99px; 
  margin: 0 0 0 212px;
  height: 33px;
  padding: 2px 0 3px 0;
  cursor: pointer; 
  background: #006600;
  color: #FFF;}


/*====== split CSS ======= */

#site_content{
		padding: 1em;
	}

#site_content div.split {
		padding: 0 0.5em;
	}
		
		/* TODO: explain the margins! */
		#site_content div.split .left {
			margin-left: -0.5em;
			float: left;
			border: none;
			width: 50%;
		}
		
		#site_content div.split .right {
			margin-right: -0.5em;
			float: right;
			border: none;
			width: 48%;
		}
	
	/* split a section into THREE */
	
	#site_content div.split-3 {
		padding: 0 1em;
	}
		
		#site_content div.split-3 .left {
			margin-left: -1em;
			float: left;
			border: none;
			width: 33%;
		}
		
		#site_content div.split-3 .mid {
			margin-right: 1em;
			margin-left: 1em;
			float: left;
			border: none;
			width: 34%;
		}
		
		#site_content div.split-3 .right {
			margin-right: -1em;
			float: right;
			border: none;
			width: 33%;
		}
