{% extends request.base_template %}
{% load locstags ambulances_extras%}
{% block title %}Nutrition{% endblock %}

{% block javascripts %}
<script language="javascript" type="text/javascript" src="/static/webapp/javascripts/jquery-1.4.1.min.js"></script>
<!--[if IE]><script type="text/javascript" src="/static/webapp/javascripts/excanvas.pack.js"></script>
<![endif]-->
<script type="text/javascript" src="/static/webapp/javascripts/jquery.flot.js"></script>
<script language="javascript" type="text/javascript" src="/static/webapp/javascripts/jquery.flot.multi.js"></script>

<link rel="stylesheet" type="text/css" href="/static/webapp/stylesheets/tabview.css" ></link>
<script type="text/javascript" src="/static/webapp/javascripts/tabview.js"></script>
<script type="text/javascript"
    src="/static/webapp/javascripts/stats.js"></script>

<link rel="stylesheet" type="text/css"
    href="/static/webapp/stylesheets/stats.css" />
<link type="text/css" rel="stylesheet" href="/static/webapp/javascripts/calendar/dhtmlgoodies_calendar.css"></link>
<script type="text/javascript" src="/static/webapp/javascripts/calendar/dhtmlgoodies_calendar.js"></script>

<style type="text/css">
#table-design thead ,#table-design th , #table-design td {
	border:solid black 1px
	}

  .popup {
   display:none; /* Hide the DIV */
    position:fixed;  
    _position:absolute; /* hack for internet explorer 6 */ 
    overflow:auto; 
    height:400px;  
    width:900px;  
    background:#FFFFFF;  
    left: 150px;
    top: 100px;
    z-index:100; /* Layering ( on-top of others), if you have lots of layers: I just maximized, you can change it yourself */
    margin-left: 15px;  
   
    /* additional features, can be omitted */
    border:2px solid #3a499e;      
    padding:15px;  
    font-size:15px;  
    -moz-box-shadow: 0 0 5px #3a499e;
    -webkit-box-shadow: 0 0 5px #d7d7d7;
    box-shadow: 0 0 5px #3a499e;
	  }
	  
	  a{ 
cursor: pointer; 
text-decoration:none; 
}

/* This is for the positioning of the Close Link */
#popupBoxClose {
    font-size:20px;  
    line-height:15px;  
    right:5px;  
    top:5px;  
    position:absolute;  
    color:#6fa5e2;  
    font-weight:500;      
}

</style>
{% load jsonify %}
<script type="text/javascript"> 

function  get_location(str){

	var type = str.split("-")[0], id = str.split("-")[1], location = "";
	if ( type == "Health Centre" ) location = "&location="+id ;
	else location = "&"+type.toLowerCase()+"="+id;
	
	return location;
}


function deroulement(form)
  {
	
	path=document.URL;	
	
if (form.navlocation.value == "")
	{
		if (path.indexOf("?") < 0 && path.indexOf("start_date") <0 ){ window.location=path+'?start_date='+form.start_date.value+'&end_date='+form.end_date.value;
	}
		
		else {
			path=path.replace(/(start_date=)[^\&]+/, '$1' + form.start_date.value);
			path=path.replace(/(end_date=)[^\&]+/, '$1' + form.end_date.value);
			
			window.location=path;
			}
       }
	
else{
			var loc = form.navlocation.value.split('.')[1];
			if ( loc == 'Health Centre') loc = "Location";
			
			path=path.replace(/(start_date=)[^\&]+/, '$1' + form.start_date.value);
			path=path.replace(/(end_date=)[^\&]+/, '$1' + form.end_date.value);
			path=path.replace(/(loc=)[^\&]+/, '$1' + form.navlocation.value.split('.')[0].toLowerCase());
			if(path.indexOf("?") < 0 && path.indexOf("start_date") < 0 )window.location=path+'?start_date='+form.start_date.value+'&end_date='+form.end_date.value;
			else if(path.indexOf("start_date") < 0 )window.location=path+'&start_date='+form.start_date.value+'&end_date='+form.end_date.value;
			else window.location=path;
	}	

 }

function fetch_stats_indics(indic){
	var path=document.URL;
	
	if (path.indexOf(indic) < 0 ) {
		 if (window.location.pathname.split("dash")[1] !="") window.location=path.replace(window.location.pathname.split("dash")[1], '/'+indic);
		 else window.location=path.replace(window.location.pathname, window.location.pathname+'/'+indic);
		}
	else window.location=path;
}

$('#popupBoxClose').click( function() {           
            $('#container').fadeOut("slow");
        });

function hideMe(id){
var popup = document.getElementById(id);
	
    popup.style.display = 'none';
}

function showPopup(id) {
	
    var popup = document.getElementById(id);
    
    popup.style.display = 'block';	
  }


</script>



{% endblock %}

{% block page_tabs %}
<ul id="page-tabs">
	
	<li class="page"><a href="/ubuzima">Report Log</a></li>
</ul>
{% endblock %} 

{% block content %}

<div>
    <form name="filtering" class="topstrip">
        <h2>Filtering</h2>
        <table width="100%">
            <thead>
                
                <tr>
			<th>Start</th><th ><input style="background-color: white"  type="text" id="pickstartdate" value="{{ start_date }}"  name="start_date" 					readonly="readonly"  onFocus="displayCalendar(form.start_date,'dd.mm.yyyy',this)" onchange="return deroulement(this.form);"/></th>
			<th>End</th><th><input style="background-color: white" type="text" id="pickenddate" value="{{ end_date }}"  name="end_date" 					readonly="readonly"  onFocus="displayCalendar(form.end_date,'dd.mm.yyyy',this)" onchange="return deroulement(this.form);"/></th>
			<th>Location Navigation</th><th><select style="background-color: white" name="navlocation" id="navlocation" >
						{% if sel %}<option value="{{ sel.id }}.{{sel|to_class_name}}"  								selected="selected" >{{ sel.name }}&nbsp;{{ sel|to_class_name}}</option> {% else %}
							<option value="" selected="selected">{{ usrloc.location.name }}</option>{% endif %}
						{%  for loc in locs %}
							<option value="{{ loc.id }}.{{loc|to_class_name}}" {% if loc.selected  %} 								selected="selected" {% endif %}>{{ loc.name }}</option>
						{%  endfor %}
						
                				
            					</select></th>
			<th></th><th></th></tr>
            </thead>
            <tbody>
        <tr>	<td colspan="6">
		<a href={{request.path}}>Rwanda</a>
		{% if prv %}
		&nbsp;&gt;<a href={{request.path}}?province={{prv.id}}>{{ prv.name }}&nbsp;{{ prv|to_class_name }}</a>
		{% else %}
			{% if dst %}&nbsp;&gt;<a href={{request.path}}?province={{dst.province.id}} >{{ dst.province.name }}&nbsp;{{ dst.province|to_class_name }}</a> 
			{% else %}
			{% if lxn %}&nbsp;&gt;<a href={{request.path}}?province={{lxn.province.id}} >{{ lxn.province.name }}&nbsp;{{ lxn.province|to_class_name }}</a>			{% endif %}
			{% endif %}
		{% endif %}

		{% if dst %}
		&nbsp;&gt;<a href={{request.path}}?district={{dst.id}}>{{ dst.name }}&nbsp;{{ dst|to_class_name }}</a>
		{% else %}
		{% if lxn %}&nbsp;&gt;<a href={{request.path}}?district={{lxn.district.id}} >{{ lxn.district.name }}&nbsp;{{ lxn.district|to_class_name }}</a>
		{% endif %}
		{% endif %}
		
		{% if lxn %}
		&nbsp;&gt;<a href={{request.path}}?location={{lxn.id}}>{{ lxn.name }}&nbsp;{{ lxn|to_class_name }}</a>
		{% endif %}
		
            	<td> <!-- <input type="button" value="Update Filters"  onClick="return deroulement(this.form);"/> --> </td>
	   	<td> <!-- <a href={{request.url}}?csv{%if postqn%}&{{postqn}}{%endif%}>Export Reports Log</a> --> </td>
                </tr>
		 <tr>
			<td><!--Table--></td><td ><!--Graph--></td><td><!--Map--></td><td></td>
			<td></td><td></td><td></td><td></td>
		</tr>
		</tbody>
        </table>
    </form>
<div class="tmp">

{% include 'ubuzima/_nutrition_charts.html' %}

<div>
    <div class="clear-hack"></div>
</div>

{% block tabview %}

{% endblock %}


            
    <div class="clear-hack"></div>
</div>
 
{% endblock %}
