{% extends request.base_template %}
{% block title %}Report{% endblock %}

{% block page_tabs %}
<ul id="page-tabs">
	<li class="page active"><a href="/ubuzima">Reports</a></li>
	<li class="page"><a href="/ubuzima/triggers">Triggers</a></li>
	<li class="page"><a href="/ubuzima/stats">Statistics</a></li>
</ul>
{% endblock %}

{% block content %}

<h2>{{report.type.name}} Report</h2>
<table width="50%"> 
    <tbody>
        <tr>
        	<td>Message Date</td>
        	<td>{{report.created}}</td>
        </tr>
    
        <tr>
        	<td>Reporter</td>
        	<td><a href="/ubuzima/reporter/{{report.reporter.pk}}?{%if postqn%}&{{postqn}}{%endif%}">{{report.reporter.national_id}}</a> ({{report.reporter.connection}})</td>
        </tr>
        
        <tr>
        	<td>Mother Id</td>
        	<td><a href="/ubuzima/patient/{{report.patient.pk}}?{%if postqn%}&{{postqn}}{%endif%}">{{report.patient}}</a>
        </tr>

        {% if report.date_string %}
        <tr>
                <td>Date</td>
                <td>{{ report.date_string }}</td>
        </tr>
        {% endif %}
    
        <tr>
        	<td>Facility</td>
        	<td>{{report.location.name}}
        </tr>
        <tr>
        	<td>Village</td>
        	<td>{{report.village}}</td>
		
        </tr>
	<tr>
        	<td>Cell</td>
        	<td>{{report.reporter.cell}}</td>
		
        </tr>
	<tr>
        	<td>Sector</td>
        	<td>{{report.reporter.sector}}</td>
		
        </tr>
	<tr>
        	<td>District</td>
        	<td>{{report.reporter.district}}</td>
		
        </tr>
	<tr>
        	<td>Province</td>
        	<td>{{report.reporter.province}}</td>
		
        </tr>
</tbody>
</table>
<br/>
<h2>Fields</h2>
<table width="50%"> 
    <tbody>
    	{% for field in report.fields.all %}
            <tr>
            	<td>{{field.type.description}}</a></td>
                <td>{% if field.value %}{{field.value}}{%endif%}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
    
{% endblock %}
