{% extends request.base_template %}
{% block title %}CHWs -Data Manager{% endblock %}
{% block javascripts %}
<script type="text/javascript" src="/static/webapp/javascripts/jquery.flot.js"></script>
<script type="text/javascript" src="/static/webapp/javascripts/jquery.flot.pie.pack.js"></script>
<script type="text/javascript"
    src="/static/webapp/javascripts/jquery.datepick.min.js"></script>
<link rel="stylesheet" type="text/css"
    href="/static/webapp/stylesheets/jquery.datepick.css" />
<link rel="stylesheet" type="text/css"
    href="/static/webapp/stylesheets/stats.css" />

<script type="text/javascript"> 
$(function()
{
$('#provchoose').change(function(evt)
    {	
        if ($(this).attr('value') != ''){window.location = window.location.pathname + '?province=' +
        $(this).attr('value');
	} else {
			window.location = window.location.pathname;			
			}
    });

condDisableDistricts();
$('#distchoose').change(function()
    {
        if ($(this).attr('value') != ''){ window.location = window.location.pathname + '?district=' +
        $(this).attr('value') + '&province=' + $('#provchoose').attr('value');
	}
		else {
			window.location = window.location.pathname + '?'+ '&province=' + $('#provchoose').attr('value');			
			}
    });

condDisableLocations();
$('#locchoose').change(function()
    {
       if ($(this).attr('value') != '') { window.location = window.location.pathname + '?facility=' +
        $(this).attr('value') + '&province=' + $('#provchoose').attr('value') +
        '&district=' + $('#distchoose').attr('value') ;
	} 
		else{
			window.location = window.location.pathname + '?' + '&province=' + $('#provchoose').attr('value') +
        '&district=' + $('#distchoose').attr('value');
			}
    });

});


function condDisableDistricts()
{
    var loc = window.location.toString();
    if(loc.search(/province/) != -1) return;
    $('#dst').hide();
    $('#distchoose').hide();
}

function condDisableLocations()
{
    var loc = window.location.toString();
    if(loc.search(/district/) != -1) return;
    $('#hc').hide();
    $('#locchoose').hide();
}
</script>

{% endblock %}

{% block content %}
    {% load pagination-tags %}



<table width="100%"> 
    <thead>
	<tr>
			                    
                    <td>
	    <label id = "prv">Province:</label>
            <select name="province" id="provchoose"><option></option>
                {%  for prv in prvs %}<option value="{{prv.id}}" {% if prv.selected  %} selected="selected"{% endif %}>{{ prv.name }}</option>{%  endfor %}
            </select>
                    </td>
                    <td>
	    <label id = "dst">District:</label>
            <select name="district" id="distchoose"><option></option>
            	{%  for dst in dsts %}<option value="{{dst.id}}" {% if dst.selected  %} selected="selected"{% endif %}>{{ dst.name }}</option>{%  endfor %}  
            </select>
                    </td>
                    <td>
	    <label id = "hc">Health Centre:</label>
            <select name="location" id="locchoose"><option></option>
              {%  for hc in hcs %}<option value="{{hc.id}}" {% if hc.selected  %} selected="selected"{% endif %}>{{ hc.name }}</option>{%  endfor %}  
            </select>
                    </td>
                    <td><a href="/chws/supervisor?excel{%if request.GET.province%}&province={{request.GET.province}}{%endif%}{%if request.GET.district%}&district={{request.GET.district}}{%endif%}{%if request.GET.facility%}&facility={{request.GET.facility}}{%endif%}">Export To Excel</a>
                    </td><td></td><td></td><td></td><td></td><td></td>
                </tr>

        <tr>	
		<th>Names</th>
		<th>Telephone</th>
        	<th>Email</th>            	
		<th>Village</th>
		<th>Health Centre</th>
		<th>Referral Hospital</th>
		<th>District</th>
		<th>Sector</th>
		
		 <th>Province</th>
            
            
        </tr>
    </thead>
    <tbody>
	
    	{% for p in datamangers.object_list %}
            <tr>
            	
		<td>{{p.names}}</td>
		<td>{{p.telephone_moh}}</td>
                <td>{{p.email}}</td>                
		<td>{{p.village.name}}</td>
		<td>{{p.health_centre.name}}</td>
		<td>{{p.referral_hospital.name}}</td>
		<td>{{p.district.name}}</td>
		<td>{{p.sector.name}}</td>
		
		 <td>{{p.province.name}}</td>
            </tr>
        {% endfor %}
    </tbody>
    
    <tfoot>
			<tr>
				<td colspan="9">
					{% paginator datamangers %}
				</td>
			</tr>
			<tr>
				<td colspan="9">
				Matching Reporters: {{ datamangers.paginator.count }}
				</td>
			</tr>
	</tfoot>
</table>

{% endblock %}


