{% extends request.base_template %}

{% block content %}
    {% load pagination-tags %}


<div><p><a href="/chws/view/uploads">View All uploads With Errors</a></p></div>
<table width="100%"> 
    <thead>
        <tr>
        	<th>Row</th>
		<th>Sheet</th>
            	<th>Reference</th>
		<th>District</th>
		<th>When</th>
		<th>By</th>
		<th>Message</th>
            
            
        </tr>
    </thead>
    <tbody>
    	{% for error in errors.object_list %}
            <tr>
            	
                <td>{{error.row}}</td>
                <td>{{error.sheet}}</td>
		<td>{{error.upload_ref}}</td>
		<td>{{error.district}}</td>
		<td>{{error.when}}</td>
		<td>{{error.by}}</td>
		<td>{{error.error_message}}</td>
            </tr>
        {% endfor %}
    </tbody>
    
    <tfoot>
			<tr>
				<td colspan="10">
					{% paginator errors %}
				</td>
			</tr>
			<tr>
				<td colspan="10">
				Matching Errors: {{ errors.paginator.count }}
				</td>
			</tr>
	</tfoot>
</table>

{% endblock %}


