{% extends request.base_template %}

{% block title %} Import Community Health Workers {% endblock %}
{% block content %}
<div><font color=red><p>{% if error %} ERROR MEANS THE RECORD IS TRUNCATED:</br>{{error.count}}<!--{%for err in error %}{{err}}</br>{%endfor%}{%endif%}--></p></font>
{% if ref %}<p><a href="/chws/view/errors/{{ref}}">View errors</a></p>{%endif%}</div>
<div><font color=green><p>{% if warn %}WARNING MEANS THE RECORD IS SAVED BUT SOME INFO ARE MISSING:</br>{{warn.count}}<!--{%for w in warn %}{{w}}</br>{%endfor%}{%endif%}--></p></font>{% if ref %}<p><a href="/chws/view/warnings/{{ref}}">View warnings</a></p>{%endif%}</div>
<div class="module">
{% if form.errors %}
<p>{{ form.errors }}</p>
{% endif %}
<form enctype="multipart/form-data" action="{% url import_chws %}" method="POST">
{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Submit" />
</form>
<div>
{% endblock %}
