{% extends request.base_template %}

{% block content %}
    {% load pagination-tags %}



<table width="100%"> 
    <thead>
        <tr>
        	<th>Name</th>
		<th>ISO Code</th>
            <th>Nation</th>
            
            
        </tr>
    </thead>
    <tbody>
    	{% for prv in prvs.object_list %}
            <tr>
            	
                <td>{{prv.name}}</td>
                <td>{{prv.code}}</td>
		<td>{{prv.nation}}</td>
            </tr>
        {% endfor %}
    </tbody>
    
    <tfoot>
			<tr>
				<td colspan="10">
					{% paginator prvs %}
				</td>
			</tr>
			<tr>
				<td colspan="10">
				Matching Provinces: {{ prvs.paginator.count }}
				</td>
			</tr>
	</tfoot>
</table>

{% endblock %}


