{% extends request.base_template %}

{% block content %}
    {% load pagination-tags %}


<div><p><a href="/chws/view/uploads">View All uploads With Errors</a></p></div>
<table width="100%"> 
    <thead>
        <tr>
        	<th>Row</th>
		<th>Sheet</th>
            	<th>Reference</th>
		<th>District</th>
		<th>When</th>
		<th>By</th>
		<th>Message</th>
            
            
        </tr>
    </thead>
    <tbody>
    	{% for warning in warnings.object_list %}
            <tr>
            	
                <td>{{warning.row}}</td>
                <td>{{warning.sheet}}</td>
		<td>{{warning.upload_ref}}</td>
		<td>{{warning.district}}</td>
		<td>{{warning.when}}</td>
		<td>{{warning.by}}</td>
		<td>{{warning.warning_message}}</td>
            </tr>
        {% endfor %}
    </tbody>
    
    <tfoot>
			<tr>
				<td colspan="10">
					{% paginator warnings %}
				</td>
			</tr>
			<tr>
				<td colspan="10">
				Matching warnings: {{ warnings.paginator.count }}
				</td>
			</tr>
	</tfoot>
</table>

{% endblock %}


