<!--This is a Pivot Access source code "Designed by ZIGAMA Didier & Fiacre RUGWIZANGOGA"-->
<html>
  

<head>
    <title>RapidSMS Rwanda - Tracking the first 1000 Days of life</title>
<meta name="Keywords" content="Pivot access, pivotaccess.com, maternal and child, RapidSMS Rwanda, web application for health, report pregnancy, online nutrition, Rwanda , ICT Rwanda, MoH, Rwanda Weblink,   Antenatal care, new born care, post natal care, Didier, Zigama, Uwantwali, Mutesa Christian, Maurice K, Fiacre Rugwizangoga, Kajangwe Alain, Eric Gasana, Batamuliza Nadina, Saphir Paula, Antoine Nzeyimana, Niyigena Pierre, Donatien Masengesho, Ndayikunda Elodie">
  <meta name="Description" content="Pivot Access is devoted to the advancement of knowledge and technology in areas that contribute to provide better service, in an environment of science and information technology (ICT). They have developed RapidSMS Rwanda for tracking the first 1000 days of life.">
 
<meta name="viewport" content="width=1065" />

    
<link rel="Stylesheet" href="static/webapp/stylesheets/sprockets.css" type="text/css" media="screen" />
<script type="text/javascript" src="static/webapp/javascripts/sprockets.js"></script>



  </head>

<body class="index">
  
<!--Logos -->

<!--End of Logo -->	

<!--Div Header--
<div id="header">
<img src="static/webapp/images/header.png">
 <ul class="header">

 </ul>
</div>
<!--End of Header--	


  <ul>
      
    <li><a href="#">About Us</a></li>
	<li><a href="#">Contact Us</a></li>
    
    <li><a href="#">News & Event</a></li>
		
    <li><a href="https://www.rapidsms.moh.gov.rw/" class="signin">Sign in</a></li>
   
  </ul>
</div> -->
 
  <div class="container">
  
  <div id="header">  </div>
  
  <div id="gallery"><img src="static/webapp/images/header.png"><img src="static/webapp/images/women.png"> </div>
    <div class="box-container" id="products">
      
      <div class="headline">
        
      </div>
         
       <a href="/ubuzima" class="box hover_container hover_target" onClick="return sendOffsite(this, '/outbound/basecamp.com')">
        <div class="product bc">
          <h1><span>Maternal Health</span> No woman should die during her pregnancy</h1>
          
          <img src="static/webapp/images/arrow-left.png" width="69" height="69" class="arrow">
        </div>
        <img src="static/webapp/images/maternal health.png" />
        
       
      </a>
       
       
       
       <a href="/ubuzima/newborn" class="box hover_container hover_target" onClick="return sendOffsite(this, '/outbound/basecamp.com')">
        <div class="product bc">
          <h1><span>New Born</span> A new born life is precious</h1>
          
          <img src="static/webapp/images/arrow-left.png" width="69" height="69" class="arrow">
        </div>
        <img src="static/webapp/images/new_born.png" />
        
       
      </a>
    
       <a href="/ubuzima/dash/pnc" class="box hover_container hover_target" onClick="return sendOffsite(this, '/outbound/basecamp.com')">
        <div class="product bc">
          <h1><span>P N C</span> Even after birth the care of mother continues</h1>
          
          <img src="static/webapp/images/arrow-left.png" width="69" height="69" class="arrow">
        </div>
         <img src="static/webapp/images/postnatal_care.png" />
       
       
      </a>
    
       
    
     <a href="/ubuzima/ccm" class="box hover_container hover_target" onClick="return sendOffsite(this, '/outbound/backpackit.com')">
        <div class="product bp">
          <h1><span>C C M</span> Combating Child killer diseases in the community </h1>
          
          <img src="static/webapp/images/arrow-right.png" width="69" height="69" class="arrow">
        </div>
        <img src="static/webapp/images/ccm.png" />
        
        
      </a>
    
      <a href="/ubuzima/nutrition" class="box hover_container hover_target" onClick="return sendOffsite(this, '/outbound/backpackit.com')">
        <div class="product bp">
          <h1><span>Nutrition</span> keeping a new born alive to prevent stunting</h1>
          
          <img src="static/webapp/images/arrow-right.png" width="69" height="69" class="arrow">
        </div>
        <img src="static/webapp/images/nutrition.png" />
        
        
      </a>
    
	
	 <a href="/ubuzima/ibibari" class="box end hover_container hover_target" onClick="return sendOffsite(this, '/outbound/campfirenow.com')">
        <div class="product cf">
          <h1><span>Ibibari</span> Every Child has right to look beautiful</h1>
         
          <img src="static/webapp/images/arrow-right.png" width="69" height="69" class="arrow">
        </div>
        <img src="static/webapp/images/ibibari.png" />
        
        
      </a>
      
      
	   
	
    </div>
    
       
    
  </div> 
      
  
 <div id="footer"> <p> &copy; 2013 The RapidSMS team, All rights reserved.&nbsp;
  
  </div>
    
  </div>
  
</body>


</html>
